<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
</head>
<body class="sb-nav-fixed">

	<header >
		<section class="wrapper">
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
		</div>

		<nav >
			<ul>
				<li><a href="#"><span class="icon-house"></span>Inicio</a></li>
				<li clase="prueba"><a href="../inisioSesion/index.html"><span class="carrito"></span>Login</a></li>
				<li >
					<a href="/carrito">
						Carrito
						<span class="carrito" th:text="${cantCarrito}">
						</span >
					</a>
				</li>
			</ul>
		</nav>
		</section>
	</header>
	<section class="contenido wrapper">
	
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2 th:text="${titulo}"></h2>
					</div>
				
                </div>
            </div>
			<form method="post" action="/update" id="fcarro" class="fcarro" name="fcarro">

				<table class="table table-striped table-hover" id="table">
					<thead>
					<tr>
						<th>ID
						</th>
						<th>Producto</th>
						<th>Precio (RD$) </th>
						<th>Cantidad</th>
						<th>Acción</th>

					</tr>
					</thead>
					<tbody>
					<tr  th:each="Producto : ${lista}">

						<!--Sirve para darle una mejor vista-->
						<td  th:text="${Producto.id}" >


						</td>
						<td th:text="${Producto.nombre}">
						</td>
						<td th:text="${Producto.precio}">
						</td>

						<td >
							<!-- Buscar otra forma mas eficiente-->
							<input  name="cant" type="number" form="fcarro" min="1" step="1" value="1" />
						</td>
						<td >

							<button class="btn btn-success" id="ok" form="fcarro">

								Agregar al Carrito

							</button>

						</td>
					</tr>
					</tbody>
				</table>
				<div>
					<input type="hidden" form="fcarro" name="x" value="" >
				</div>
			</form>

		</div>
	</div>
		<div id="editEmployeeModal" >


					<!-- Redirecionaldo a la misma pagina y agregando un post-->
					<form name="f1" id="f1" method="post" action="/update" >
						<!--<div class="form-group"> -->
								<input type="hidden" class="form-control" required id="nombre" name="nombre">
								<input type="hidden" id="id" name="id" value="">

					</form>


		</div>
	<footer class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; DANIEL P. MORONTA:2020 </div>
			</div>
		</div>
	</footer>
</section>
</body>
<script src="../principal/JS/myscript.js"></script>
</html>                                		